body{
    background-color: #111629;
}

.main-container{
    margin-top: 25vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quote-main-container{
    align-self: center;
    background-color: #20293A;
    width: 50%;
    border-radius: 1rem;
    background-image: url('/assets/img/bg-image-random-quote.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-author{
    color:white;
    font-size: 1.3rem;
    margin-top:2.5rem;
    margin-bottom:.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.quotes-container{
    display: inline-flex;
}

.quote-tag{
    color: #534BDE;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .6rem;
    outline: 1px solid #534BDE;
    margin: .5rem;
    padding: .4rem;
    border-radius: 1rem;
}

.quote{
    color:#96A3B5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-bottom: 4rem;
    margin-left:2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
}

.button-container{
    display: flex;
    align-self: center;
    margin-top: 1rem;
}

.btn-reload{
    border: 1px solid #20293A;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    padding: .5rem;
    padding-right:1rem;
    padding-left:1rem;
    cursor:pointer;
}

.btn-copy{
    border: 1px solid #20293A;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    padding: .5rem;
    padding-right:1rem;
    padding-left:1rem;
    cursor:pointer;
}

.btn-copy .btn-reload img{
    width: 3rem;
}


@media only screen and (max-width: 1200px) {
    .quote-main-container{
        width: 100%;
    }
}